h1, h2, p {
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #f1f2f6;
    text-align: center;
    color: #2f3542;
    padding: 20px 0;
}
.header-title {
    margin-bottom: 15px;
}
.header-details {
    margin-bottom: 5px;
}
.header-budget {
    margin-top: 15px;
}